# Initializing environment variables
PORT=5000
NODE_ENV="development"
FRONTEND_URL="http://localhost:3000"
DATABASE_URL="postgres://user:password@localhost:5432/postgres?sslmode=require"

# Better Auth credentials
BETTER_AUTH_SECRET="your_at_least_32_characters_secret_key_here"
BETTER_AUTH_URL="http://localhost:5000"

# Google OAuth credentials
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# SMTP configuration
SMTP_PORT=465
SMTP_HOST="smtp.gmail.com"
SMTP_PASS=""
SMTP_USER=""
SMTP_FROM=""
